:root{
    --bgcolor: rgb(43, 204, 9);
}

* , ::after , ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x:hidden ;
}

.container{
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    background: rgba(0,0,0, .15);
    box-shadow: 2px 2px 2px rgba(0,0,0, .15);
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

main h1{
    color: blue;
    margin-top: 20px;
    font-size: 2em;
}

main .champTodos{
    margin: 20px 0;
    width: 80%;
}

.formInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.champTodos #champ{
    width: 100%;
    padding: 10px 25px;
    border-radius: 15px;
}

.champTodos #btnAjouter{
    padding: 5px 5px;
    width: 90px;
    background: var(--bgcolor);
    color: white;
    font-size: 1.2em;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s  ;
}

.champTodos #btnAjouter:active{
    color: #070707;
    background: #b0f183;
}

main p{
    font-size: 1.7em;
    margin: 25px 25px;
}

main ol{
    margin: 20px auto;
    padding: 5px 0;
    width: 90vw;
    transform: translateX(4vw);
}

main ol li{
    font-size: 1.3em;
    margin: 4px 0;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

main #notache{
    font-size: 1.3em;
    font-style: italic;
    color: blue;
}

ol{
    list-style: none;
    counter-reset: my-counter;
}

ol li{
    counter-increment: my-counter;
    background: rgba(0,0,0, .10);
    color: #060bb4;
    padding: 2px 5px;
    width: 68%;
    text-transform: capitalize;
    border-radius: 15px;
    font-weight: bold;
}

ol li::before{
    content: counter(my-counter) ".";
    color: #070707;
    font-size: 1.3em;
    margin-right: 15px;
}

.delete{
    color: red;
    cursor: pointer;
    transition: all 0.5s;
}

.urge{
    color: gray;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.5s;
}

.gold{
    color: gold;
}

.texte{
    display: inline-block;
    width: 100%;
}

.delete:hover, .urge:hover{
    transform: scale(1.3);
}

.installBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 4%;
    background: rgb(7, 7, 7);
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1rem;
    padding:5px 0;
    position: absolute;
    bottom: 0;
    transition: all 0.8s;
    transform: translateX(-100%);
}

.installBtn:hover{
    background: #9bee9b;
}

.installBtn i{
    margin-left: 5px;
}

.slide{
    transform: translateX(0);
}

/*responsive*/

